<?php
/**
 * ${1:Description}
 * @authors ${2:Your Name} (${3:you@example.org})
 * @date    ${date}
 * @version ${4:1.0.0}
 */

class ${5:ClassName} ${6:extends ${7:AnotherClass}} {
    $8
    function __construct(){
        $0
    }
}