#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Date    : ${date}
# @Author  : ${1:Your Name} (${2:you@example.org})
# @Link    : ${3:link}
# @Version : ${4:1.0.0}
# @File      : ${4: Filename}

${5:import os}
$0