<!--
${1:Description}
@authors ${2:Your Name} (${3:you@example.org})
@date    ${date}
@version ${4:1.0.0}
@File      : ${4: Filename}
-->
<template>
  <div>
    ${5:Hello, World!}
  </div>
</template>

<script>
  export default {$0}
</script>

<style lang="${6:css}" scoped>
  $7
</style>
