# =========================================
# Date    : ${date}
# Author  : ${1:Your Name} (${2:you@example.org})
# Link    : ${3:link}
# File    : ${4: Filename}
# =========================================
